
   {"singleQuote": true
   ,"trailingComma": "all"
   ,"tabWidth": 2
   ,"semi": true
   ,"printWidth": 100
   ,"jsxBracketSameLine": true
   ,"jsxSingleQuote": true
   ,"proseWrap": "preserve"
   ,"quoteProps": "as-needed"
   ,"requirePragma": false

   
}     

